<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Login | Usanex</title>

    <link
        rel="stylesheet"
        href="/static/css/auth.css"
    >
</head>

<body>

<div class="login-page">

    <!-- =========================================
         BACKGROUND
    ========================================== -->

    <div class="background-glow glow-one"></div>
    <div class="background-glow glow-two"></div>
    <div class="background-glow glow-three"></div>


    <!-- =========================================
         LEFT BRAND SECTION
    ========================================== -->

    <section class="brand-section">

        <div class="brand-content">

            <!-- Stylish Logo -->
            <div class="hero-brand">

                <div class="hero-logo">
                    <span class="logo-u">
